# packages in environment at /ibex/user/leonted/conda-environments/sbi_trawl_new:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                  2_kmp_llvm    conda-forge
absl-py                   2.1.0              pyhd8ed1ab_1    conda-forge
alsa-lib                  1.2.13               hb9d3cd8_0    conda-forge
annotated-types           0.7.0              pyhd8ed1ab_1    conda-forge
appdirs                   1.4.4              pyhd8ed1ab_1    conda-forge
arviz                     0.20.0             pyhd8ed1ab_1    conda-forge
betacal                   1.1.0                    pypi_0    pypi
blas                      2.116                       mkl    conda-forge
blas-devel                3.9.0            16_linux64_mkl    conda-forge
brotli                    1.1.0                hb9d3cd8_2    conda-forge
brotli-bin                1.1.0                hb9d3cd8_2    conda-forge
brotli-python             1.1.0           py310hf71b8c6_2    conda-forge
bzip2                     1.0.8                h4bc722e_7    conda-forge
c-ares                    1.34.4               hb9d3cd8_0    conda-forge
ca-certificates           2025.1.31            hbcca054_0    conda-forge
cached-property           1.5.2                hd8ed1ab_1    conda-forge
cached_property           1.5.2              pyha770c72_1    conda-forge
cairo                     1.18.2               h3394656_1    conda-forge
certifi                   2025.1.31          pyhd8ed1ab_0    conda-forge
cffi                      1.17.1          py310h8deb56e_0    conda-forge
charset-normalizer        3.4.1              pyhd8ed1ab_0    conda-forge
chex                      0.1.86             pyhd8ed1ab_0    conda-forge
click                     8.1.8              pyh707e725_0    conda-forge
cloudpickle               3.1.1                    pypi_0    pypi
colorama                  0.4.6              pyhd8ed1ab_1    conda-forge
contourpy                 1.3.1           py310h3788b33_0    conda-forge
corner                    2.2.3              pyhd8ed1ab_1    conda-forge
cpython                   3.10.16         py310hd8ed1ab_1    conda-forge
cuda-cudart               12.4.127             he02047a_2    conda-forge
cuda-cudart_linux-64      12.4.127             h85509e4_2    conda-forge
cuda-cupti                12.4.127             he02047a_2    conda-forge
cuda-libraries            12.4.1               ha770c72_1    conda-forge
cuda-nvrtc                12.4.127             he02047a_2    conda-forge
cuda-nvtx                 12.4.127             he02047a_2    conda-forge
cuda-opencl               12.4.127             he02047a_1    conda-forge
cuda-runtime              12.4.1               ha804496_0    conda-forge
cuda-version              12.4                 h3060b56_3    conda-forge
cudnn                     9.1.1.17               cuda12_1    anaconda
cycler                    0.12.1             pyhd8ed1ab_1    conda-forge
cyrus-sasl                2.1.27               h54b06d7_7    conda-forge
dbus                      1.13.6               h5008d03_3    conda-forge
decorator                 5.1.1                    pypi_0    pypi
distrax                   0.1.5                    pypi_0    pypi
dm-tree                   0.1.8                    pypi_0    pypi
docker-pycreds            0.4.0                      py_0    conda-forge
double-conversion         3.3.0                h59595ed_0    conda-forge
et_xmlfile                2.0.0              pyhd8ed1ab_1    conda-forge
etils                     1.10.0             pyhd8ed1ab_1    conda-forge
eval_type_backport        0.2.2              pyha770c72_0    conda-forge
expat                     2.6.4                h5888daf_0    conda-forge
filelock                  3.17.0             pyhd8ed1ab_0    conda-forge
flax                      0.10.2                   pypi_0    pypi
font-ttf-dejavu-sans-mono 2.37                 hab24e00_0    conda-forge
font-ttf-inconsolata      3.000                h77eed37_0    conda-forge
font-ttf-source-code-pro  2.038                h77eed37_0    conda-forge
font-ttf-ubuntu           0.83                 h77eed37_3    conda-forge
fontconfig                2.15.0               h7e30c49_1    conda-forge
fonts-conda-ecosystem     1                             0    conda-forge
fonts-conda-forge         1                             0    conda-forge
fonttools                 4.55.6          py310h89163eb_0    conda-forge
freetype                  2.12.1               h267a509_2    conda-forge
fsspec                    2024.12.0                pypi_0    pypi
gast                      0.6.0                    pypi_0    pypi
gitdb                     4.0.12             pyhd8ed1ab_0    conda-forge
gitpython                 3.1.44             pyhff2d567_0    conda-forge
gmp                       6.3.0                hac33072_2    conda-forge
gmpy2                     2.1.5           py310he8512ff_3    conda-forge
gpytorch                  1.14                     pypi_0    pypi
graphite2                 1.3.13            h59595ed_1003    conda-forge
grpcio                    1.70.0                   pypi_0    pypi
h2                        4.1.0              pyhd8ed1ab_1    conda-forge
h5netcdf                  1.5.0              pyhd8ed1ab_0    conda-forge
h5py                      3.13.0          nompi_py310h60e0fe6_100    conda-forge
harfbuzz                  9.0.0                hda332d3_1    conda-forge
hdf5                      1.14.3          nompi_h2d575fe_109    conda-forge
hpack                     4.1.0              pyhd8ed1ab_0    conda-forge
humanize                  4.11.0                   pypi_0    pypi
hyperframe                6.1.0              pyhd8ed1ab_0    conda-forge
icu                       75.1                 he02047a_0    conda-forge
idna                      3.10               pyhd8ed1ab_1    conda-forge
importlib-metadata        8.6.1              pyha770c72_0    conda-forge
importlib-resources       6.5.2                    pypi_0    pypi
importlib_metadata        8.6.1                hd8ed1ab_0    conda-forge
jax                       0.5.0                    pypi_0    pypi
jax-cuda12-pjrt           0.5.0                    pypi_0    pypi
jax-cuda12-plugin         0.5.0                    pypi_0    pypi
jaxlib                    0.5.0                    pypi_0    pypi
jaxtyping                 0.2.37                   pypi_0    pypi
jinja2                    3.1.5              pyhd8ed1ab_0    conda-forge
joblib                    1.4.2                    pypi_0    pypi
keyutils                  1.6.1                h166bdaf_0    conda-forge
kiwisolver                1.4.7           py310h3788b33_0    conda-forge
krb5                      1.21.3               h659f571_0    conda-forge
latexcodec                2.0.1              pyh9f0ad1d_0    conda-forge
lcms2                     2.16                 hb7c19ff_0    conda-forge
ld_impl_linux-64          2.43                 h712a8e2_2    conda-forge
lerc                      4.0.0                h27087fc_0    conda-forge
libabseil                 20240116.2      cxx17_he02047a_1    conda-forge
libaec                    1.1.3                h59595ed_0    conda-forge
libblas                   3.9.0            16_linux64_mkl    conda-forge
libbrotlicommon           1.1.0                hb9d3cd8_2    conda-forge
libbrotlidec              1.1.0                hb9d3cd8_2    conda-forge
libbrotlienc              1.1.0                hb9d3cd8_2    conda-forge
libcblas                  3.9.0            16_linux64_mkl    conda-forge
libclang-cpp19.1          19.1.7          default_hb5137d0_1    conda-forge
libclang13                19.1.7          default_h9c6a7e4_1    conda-forge
libcublas                 12.4.5.8             he02047a_2    conda-forge
libcufft                  11.2.1.3             he02047a_2    conda-forge
libcufile                 1.9.1.3              he02047a_2    conda-forge
libcups                   2.3.3                h4637d8d_4    conda-forge
libcurand                 10.3.5.147           he02047a_2    conda-forge
libcurl                   8.12.1               h332b0f4_0    conda-forge
libcusolver               11.6.1.9             he02047a_2    conda-forge
libcusparse               12.3.1.170           he02047a_2    conda-forge
libdeflate                1.23                 h4ddbbb0_0    conda-forge
libdrm                    2.4.124              hb9d3cd8_0    conda-forge
libedit                   3.1.20240808    pl5321h7949ede_0    conda-forge
libegl                    1.7.0                ha4b6fd6_2    conda-forge
libev                     4.33                 hd590300_2    conda-forge
libexpat                  2.6.4                h5888daf_0    conda-forge
libffi                    3.4.2                h7f98852_5    conda-forge
libgcc                    14.2.0               h77fa898_1    conda-forge
libgcc-ng                 14.2.0               h69a702a_1    conda-forge
libgfortran               14.2.0               h69a702a_1    conda-forge
libgfortran-ng            14.2.0               h69a702a_1    conda-forge
libgfortran5              14.2.0               hd5240d6_1    conda-forge
libgl                     1.7.0                ha4b6fd6_2    conda-forge
libglib                   2.82.2               h2ff4ddf_1    conda-forge
libglvnd                  1.7.0                ha4b6fd6_2    conda-forge
libglx                    1.7.0                ha4b6fd6_2    conda-forge
libgomp                   14.2.0               h77fa898_1    conda-forge
libgrpc                   1.62.2               h15f2491_0    conda-forge
libhwloc                  2.11.2          default_h0d58e46_1001    conda-forge
libiconv                  1.17                 hd590300_2    conda-forge
libjpeg-turbo             3.0.0                hd590300_1    conda-forge
liblapack                 3.9.0            16_linux64_mkl    conda-forge
liblapacke                3.9.0            16_linux64_mkl    conda-forge
libllvm19                 19.1.7               ha7bfdaf_1    conda-forge
liblzma                   5.6.3                hb9d3cd8_1    conda-forge
libnghttp2                1.64.0               h161d5f1_0    conda-forge
libnpp                    12.2.5.30            he02047a_2    conda-forge
libnsl                    2.0.1                hd590300_0    conda-forge
libntlm                   1.8                  hb9d3cd8_0    conda-forge
libnvfatbin               12.4.127             he02047a_2    conda-forge
libnvjitlink              12.4.127             he02047a_2    conda-forge
libnvjpeg                 12.3.1.117           he02047a_2    conda-forge
libopenblas               0.3.28          pthreads_h94d23a6_1    conda-forge
libopengl                 1.7.0                ha4b6fd6_2    conda-forge
libpciaccess              0.18                 hd590300_0    conda-forge
libpng                    1.6.46               h943b412_0    conda-forge
libpq                     17.2                 h3b95a9b_1    conda-forge
libprotobuf               4.25.3               hd5b35b9_1    conda-forge
libre2-11                 2023.09.01           h5a48ba9_2    conda-forge
libsqlite                 3.48.0               hee588c1_1    conda-forge
libssh2                   1.11.1               hf672d98_0    conda-forge
libstdcxx                 14.2.0               hc0a3c3a_1    conda-forge
libstdcxx-ng              14.2.0               h4852527_1    conda-forge
libtiff                   4.7.0                hd9ff511_3    conda-forge
libuuid                   2.38.1               h0b41bf4_0    conda-forge
libwebp-base              1.5.0                h851e524_0    conda-forge
libxcb                    1.17.0               h8a09558_0    conda-forge
libxcrypt                 4.4.36               hd590300_1    conda-forge
libxkbcommon              1.7.0                h2c5496b_1    conda-forge
libxml2                   2.13.5               h8d12d68_1    conda-forge
libxslt                   1.1.39               h76b75d6_0    conda-forge
libzlib                   1.3.1                hb9d3cd8_2    conda-forge
linear-operator           0.6                      pypi_0    pypi
llvm-openmp               15.0.7               h0cdce71_0    conda-forge
markdown                  3.7                      pypi_0    pypi
markdown-it-py            3.0.0                    pypi_0    pypi
markupsafe                3.0.2           py310h89163eb_1    conda-forge
matplotlib                3.7.5                    pypi_0    pypi
mdurl                     0.1.2                    pypi_0    pypi
mkl                       2022.1.0           h84fe81f_915    conda-forge
mkl-devel                 2022.1.0           ha770c72_916    conda-forge
mkl-include               2022.1.0           h84fe81f_915    conda-forge
ml_dtypes                 0.5.1           py310h5eaa309_0    conda-forge
mpc                       1.3.1                h24ddda3_1    conda-forge
mpfr                      4.2.1                h90cbb55_3    conda-forge
mpmath                    1.3.0              pyhd8ed1ab_1    conda-forge
msgpack                   1.1.0                    pypi_0    pypi
multipledispatch          0.6.0              pyhd8ed1ab_1    conda-forge
munkres                   1.1.4              pyh9f0ad1d_0    conda-forge
mysql-common              9.0.1                h266115a_4    conda-forge
mysql-libs                9.0.1                he0572af_4    conda-forge
ncurses                   6.5                  h2d0b736_2    conda-forge
nest-asyncio              1.6.0                    pypi_0    pypi
netcal                    1.3.6                    pypi_0    pypi
networkx                  3.4.2              pyh267e887_2    conda-forge
numpy                     1.26.4          py310hb13e2d6_0    conda-forge
numpyro                   0.17.0             pyhd8ed1ab_0    conda-forge
nvidia-cublas-cu12        12.4.5.8                 pypi_0    pypi
nvidia-cuda-cupti-cu12    12.4.127                 pypi_0    pypi
nvidia-cuda-nvcc-cu12     12.8.61                  pypi_0    pypi
nvidia-cuda-nvrtc-cu12    12.4.127                 pypi_0    pypi
nvidia-cuda-runtime-cu12  12.4.127                 pypi_0    pypi
nvidia-cudnn-cu12         9.1.0.70                 pypi_0    pypi
nvidia-cufft-cu12         11.2.1.3                 pypi_0    pypi
nvidia-curand-cu12        10.3.5.147               pypi_0    pypi
nvidia-cusolver-cu12      11.6.1.9                 pypi_0    pypi
nvidia-cusparse-cu12      12.3.1.170               pypi_0    pypi
nvidia-cusparselt-cu12    0.6.2                    pypi_0    pypi
nvidia-nccl-cu12          2.21.5                   pypi_0    pypi
nvidia-nvjitlink-cu12     12.4.127                 pypi_0    pypi
nvidia-nvtx-cu12          12.4.127                 pypi_0    pypi
ocl-icd                   2.3.2                hb9d3cd8_2    conda-forge
opencl-headers            2024.10.24           h5888daf_0    conda-forge
openjpeg                  2.5.3                h5fbd93e_0    conda-forge
openldap                  2.6.9                he970967_0    conda-forge
openpyxl                  3.1.5           py310h0999ad4_1    conda-forge
openssl                   3.5.0                h7b32b05_0    conda-forge
opt-einsum                3.4.0                hd8ed1ab_1    conda-forge
opt_einsum                3.4.0              pyhd8ed1ab_1    conda-forge
optax                     0.2.2              pyhd8ed1ab_1    conda-forge
orbax-checkpoint          0.11.0                   pypi_0    pypi
packaging                 24.2               pyhd8ed1ab_2    conda-forge
pandas                    2.2.3           py310h5eaa309_1    conda-forge
patsy                     1.0.1              pyhd8ed1ab_1    conda-forge
pcre2                     10.44                hba22ea6_2    conda-forge
pillow                    11.1.0          py310h7e6dc6c_0    conda-forge
pip                       25.0               pyh8b19718_0    conda-forge
pixman                    0.44.2               h29eaf8c_0    conda-forge
platformdirs              4.3.6              pyhd8ed1ab_1    conda-forge
protobuf                  5.29.3                   pypi_0    pypi
psutil                    6.1.1           py310ha75aee5_0    conda-forge
pthread-stubs             0.4               hb9d3cd8_1002    conda-forge
pycparser                 2.22               pyh29332c3_1    conda-forge
pydantic                  2.10.6             pyh3cfb1c2_0    conda-forge
pydantic-core             2.27.2          py310h505e2c1_0    conda-forge
pygments                  2.19.1                   pypi_0    pypi
pyparsing                 3.2.1              pyhd8ed1ab_0    conda-forge
pyro-api                  0.1.2                    pypi_0    pypi
pyro-ppl                  1.9.1                    pypi_0    pypi
pyside6                   6.8.1           py310hfd10a26_0    conda-forge
pysocks                   1.7.1              pyha55dd90_7    conda-forge
python                    3.10.16         he725a3c_1_cpython    conda-forge
python-dateutil           2.9.0.post0        pyhff2d567_1    conda-forge
python-tzdata             2025.1             pyhd8ed1ab_0    conda-forge
python_abi                3.10                    5_cp310    conda-forge
pytorch-cuda              12.4                 hc786d27_7    pytorch
pytorch-mutex             1.0                        cuda    pytorch
pytz                      2024.1             pyhd8ed1ab_0    conda-forge
pyyaml                    6.0.2           py310h89163eb_2    conda-forge
qhull                     2020.2               h434a139_5    conda-forge
qt6-main                  6.8.1                h9d28a51_0    conda-forge
re2                       2023.09.01           h7f4b329_2    conda-forge
readline                  8.2                  h8228510_1    conda-forge
requests                  2.32.3             pyhd8ed1ab_1    conda-forge
rich                      13.9.4                   pypi_0    pypi
scikit-learn              1.6.1                    pypi_0    pypi
scipy                     1.15.1          py310hfa6ec8c_0    conda-forge
seaborn                   0.13.2               hd8ed1ab_3    conda-forge
seaborn-base              0.13.2             pyhd8ed1ab_3    conda-forge
sentry-sdk                2.20.0             pyhd8ed1ab_0    conda-forge
setproctitle              1.3.4           py310ha75aee5_0    conda-forge
setuptools                75.8.0             pyhff2d567_0    conda-forge
simplejson                3.19.3                   pypi_0    pypi
six                       1.17.0             pyhd8ed1ab_0    conda-forge
smmap                     5.0.0              pyhd8ed1ab_0    conda-forge
statsmodels               0.14.4          py310hf462985_0    conda-forge
sympy                     1.13.1                   pypi_0    pypi
tbb                       2021.13.0            hceb3a55_1    conda-forge
tensorboard               2.18.0                   pypi_0    pypi
tensorboard-data-server   0.7.2                    pypi_0    pypi
tensorflow-probability    0.25.0                   pypi_0    pypi
tensorstore               0.1.71                   pypi_0    pypi
texlive-core              20230313            he8f7729_15    conda-forge
threadpoolctl             3.5.0                    pypi_0    pypi
tikzplotlib               0.9.8                    pypi_0    pypi
tk                        8.6.13          noxft_h4845f30_101    conda-forge
toolz                     1.0.0              pyhd8ed1ab_1    conda-forge
torch                     2.6.0                    pypi_0    pypi
torchvision               0.21.0                   pypi_0    pypi
tornado                   6.4.2           py310ha75aee5_0    conda-forge
tqdm                      4.67.1             pyhd8ed1ab_1    conda-forge
triton                    3.2.0                    pypi_0    pypi
typing                    3.10.0.0           pyhd8ed1ab_2    conda-forge
typing-extensions         4.12.2               hd8ed1ab_1    conda-forge
typing_extensions         4.12.2             pyha770c72_1    conda-forge
tzdata                    2025a                h78e105d_0    conda-forge
unicodedata2              16.0.0          py310ha75aee5_0    conda-forge
urllib3                   2.3.0              pyhd8ed1ab_0    conda-forge
wadler-lindig             0.1.3                    pypi_0    pypi
wandb                     0.19.4          py310h69e60fc_0    conda-forge
wayland                   1.23.1               h3e06ad9_0    conda-forge
werkzeug                  3.1.3                    pypi_0    pypi
wheel                     0.45.1             pyhd8ed1ab_1    conda-forge
xarray                    2025.1.2           pyhd8ed1ab_0    conda-forge
xarray-einstats           0.8.0              pyhd8ed1ab_1    conda-forge
xcb-util                  0.4.1                hb711507_2    conda-forge
xcb-util-cursor           0.1.5                hb9d3cd8_0    conda-forge
xcb-util-image            0.4.0                hb711507_2    conda-forge
xcb-util-keysyms          0.4.1                hb711507_0    conda-forge
xcb-util-renderutil       0.3.10               hb711507_0    conda-forge
xcb-util-wm               0.4.2                hb711507_0    conda-forge
xkeyboard-config          2.43                 hb9d3cd8_0    conda-forge
xorg-libice               1.1.2                hb9d3cd8_0    conda-forge
xorg-libsm                1.2.5                he73a12e_0    conda-forge
xorg-libx11               1.8.10               h4f16b4b_1    conda-forge
xorg-libxau               1.0.12               hb9d3cd8_0    conda-forge
xorg-libxcomposite        0.4.6                hb9d3cd8_2    conda-forge
xorg-libxcursor           1.2.3                hb9d3cd8_0    conda-forge
xorg-libxdamage           1.1.6                hb9d3cd8_0    conda-forge
xorg-libxdmcp             1.1.5                hb9d3cd8_0    conda-forge
xorg-libxext              1.3.6                hb9d3cd8_0    conda-forge
xorg-libxfixes            6.0.1                hb9d3cd8_0    conda-forge
xorg-libxi                1.8.2                hb9d3cd8_0    conda-forge
xorg-libxrandr            1.5.4                hb9d3cd8_0    conda-forge
xorg-libxrender           0.9.12               hb9d3cd8_0    conda-forge
xorg-libxtst              1.2.5                hb9d3cd8_3    conda-forge
xorg-libxxf86vm           1.1.6                hb9d3cd8_0    conda-forge
yaml                      0.2.5                h7f98852_2    conda-forge
zipp                      3.21.0             pyhd8ed1ab_1    conda-forge
zstandard                 0.23.0          py310ha39cb0e_1    conda-forge
zstd                      1.5.6                ha6fb4c9_0    conda-forge
